/a.out
/.directory
/zad4_dining_philosophers/a.out
/zad4_dining_philosophers/.directory
/zad4_dining_philosophers/build
/zad4_dining_philosophers/.kdev4
/zad4_dining_philosophers/zad4_dining_philosophers.kdev4

